
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>inserting new template</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <div class="cen">
      <h1> group A</h1>
    </div>
    
<div class="centerinput">
    <form class="form-signin" action="/insert" method="post">
      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="captian name" required name="tname" autocomplete="off">
      </div>
      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="captian ingame name" required name="p1name" autocomplete="off">
      </div>
      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="player 1 ingame name" required name="p2name" autocomplete="off">
      </div>
      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="player 2 ingame name" required name="p4name" autocomplete="off">
      </div>
      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="player 3 ingame name" required name="p5name">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">submmit</button>
    </form>

    </div>
  </body>
</html>
